@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Ingreso Datos KPI</h1>
    <p> ambiente de pruebas para proyecto Optimización de Reportes.</p>
</div>
