@page
@model ingreso_kpi_1.Pages.KPIReunionModel
@{
}


<h1>Ingreso KPI Reunión</h1>

<table class="table">
    <thead>
        <tr>
            <th class ="col-2">
                Num.
            </th>
            <th class="col-3">
                KPI
            </th>
            <th class="col-2">
                Valor Semanal
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                KPI 1
            </td>
            <td>
                <input type="number" class="form-control"/>
            </td>

        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                KPI 2
            </td>
            <td>
                <input type="number" class="form-control" />
            </td>

        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                KPI 3
            </td>
            <td>
                <input type="number" class="form-control" />
            </td>

        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                KPI 4
            </td>
            <td>
                <input type="number" class="form-control" />
            </td>

        </tr>
    </tbody>
</table>

            <button class="btn btn-primary" > Actualizar </button>